@model Bug
@{
    ViewData["Title"] = "Create an issue ";
}

<div class="text-center">
    <h1 class="display-4">New bug creation form</h1>
    <form method="post" asp-asp-controller="Bug" asp-action="Create" style="max-width: 500px; margin-left: auto; margin-right: auto; padding: 15px;">
        <div class="text-field text-field_floating-3">
            <input asp-for="Name" class="text-field__input"  name="Name" placeholder="Пример: баг в системе авторизации"></>
            <label asp-for="Name" class="text-field__label" for="Name">Название бага</label>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="text-field text-field_floating-3">
            <input asp-for="ShortDescription" class="text-field__input" name="ShortDescription" placeholder="Опишите проблему"></>
            <label asp-for="ShortDescription" class="text-field__label" for="ShortDescription">Короткое описание</label>
            <span asp-validation-for="ShortDescription"></span>
        </div>
        <div class="text-field text-field_floating-3">
            <textarea asp-for="LongDescription" class="text-field__input" name="LongDescription" placeholder="Опишите проблему подробнее"></textarea>
            <label asp-for="LongDescription"  class="text-field__label" for="LongDescription">Подробное описание</label>
            <span asp-validation-for="LongDescription"></span>
        </div>
        <div class="text-field text-field_floating-3">
            <input asp-for="CreationDate" class="text-field__input" name="CreationDate" value="@DateTime.Today" />
            <label asp-for="CreationDate" class="text-field__label" for="CreationDate">Дата создания</label>
            <span asp-validation-for="CreationDate"></span>
        </div>
        <div class="container">
            <p>Fixed?</p>
                <div class="radio" style="margin: 0px auto; text-align: left;">
                    <input class="custom-radio" asp-for="IsSolved" name="IsSolved" type="radio" id="option-1" name="option" value=1 />
                    <label for="option-1">Да</label>
                </div>
                <div class="radio">
                <input class="custom-radio" asp-for="IsSolved" name="IsSolved" type="radio" id="option-2" name="option" value=0 />
                    <label for="option-2">Нет</label>
                </div>
        </div>
        <div>
            <span>Choose Priority</span>
            <select asp-for="Priority" class="custom-select" name="Priority" aria-invalid="false">
                <option id=1>Low</option>
                <option id=2>Medium</option>
                <option id=3>High</option>
            </select>
        </div>
        <style>
            div{
            margin-top:10px}
        </style>
        <div class="box">
            <input class="btn" type="submit" value="Send Bug to system">
        </div>
    </form>
</div>
